.bodyBackground
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
    border-width: 10px;
    background-image: AniversarioImagem copy.png;
    border-style: ridge;
    border-color: darkviolet; 
}

